<%= form_with(model: mobile_number, local: true) do |f| %>
  <% if mobile_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mobile_number.errors.count, "error") %> prohibited this mobile_number from being saved:</h2>

      <ul>
      <% mobile_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Form for entering a mobile number-->
<label class="col-2 col-form-label">Enter a mobile number with international format</label>
<div class="col-10">
  <%= f.telephone_field(:mobile_number) %>
</div>
<br/>
<%= f.submit "Validate mobile number", class: "btn btn-default" %>
<% end %>
